body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pixelify Sans", sans-serif;
}

dl {
  width: 230px;
  height: 85%;
  overflow: auto;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: 0;
  margin-top: 15%;
}

dd {
  margin: 0;
}

.base-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.2fr 1.2fr 1fr;
  grid-template-areas: "position-left card-1 card-2 position-right";
  align-items: center;
  justify-items: center;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.position-left {
  grid-area: position-left;
}

.position-right {
  grid-area: position-right;
}

.multiplier-field {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4.9%;
  margin-bottom: 4.9%;
  padding: 2px;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: cover;
}
.positive {
  background-image: url("../art/m_info_pos_bg.png");
}
.negative {
  background-image: url("../art/m_info_neg_bg.png");
}

[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}

label {
  display: grid;
  grid-template-columns: 30% 68%;
  grid-template-areas: "m-value m-info";
  /* gap: 5%; */
}

.m-container {
  display: flex;
  justify-content: space-around;
  height: 90%;
  width: 280px;
  background-image: url("../art/m_base_bg.PNG");
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.m-value {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
}

.m-info {
  justify-items: end;
}

.m-name {
  margin: 0;
  font-weight: 400;
}

.m-description {
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: 200;
  font-size: small;
  opacity: 0.3;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  height: 300px;
  /* border: 1px solid black; */
  border-radius: 20px;
  margin: 10%;
  padding: 2px;
  box-sizing: border-box;
  background-image: url("../art/card_base_2.png");
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-info {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 90%;
}

.card-points {
  margin-top: 20%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  flex-grow: 0.2;
  font-weight: 500;
  font-size: 4rem;
}

.card-name {
  flex-grow: 0.3;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.buttons {
  width: 90%;
  height: 10%;
  display: inline-flex;
  justify-content: space-between;
}

.card-button {
  width: 100%;
  text-align: center;
}

.plus {
  margin-left: 10%;
}

.minus {
  margin-right: 10%;
}

button {
  width: 90%;
  height: 100%;
}

#points_remaining {
  font-weight: 600;
  font-size: large;
}
