html {
  font-size: clamp(0.5vw, 0.8vw, 1vw);
}

p {
  margin: 0;
}

body {
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-family: "Pixelify Sans", sans-serif;
  background-image: url("../art/main_bg.png");
  image-rendering: pixelated;
  background-size: 50% 50%;
}

.base-bg {
  flex-grow: 1;
  box-sizing: content-box;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50%;

  background-image: url("../art/base_bg.png");
  background-repeat: no-repeat;
  background-size: 95% 100%;
  background-position: center;
  filter: drop-shadow(0px 0px 10px);
}

.base-bg > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.img-container {
  height: 90%;
  width: 90%;
  filter: drop-shadow(0px 0px 10px);
}

img {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}

.base-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 0.7fr 0.7fr 0.2fr 0.7fr 0.7fr;
  grid-template-areas: "position-left card-1 empty card-2 position-right";
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 90%;
}

.element-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.position-left {
  grid-area: position-left;
}

.position-right {
  grid-area: position-right;
}

.m-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 57%;
  width: 100%;
  padding-top: 14%;
  padding-bottom: 6%;

  background-image: url("../art/m_base_bg_2.PNG");
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: center;
  filter: drop-shadow(0px 0px 5px);
}

dl {
  width: 15.5vw;
  height: 42vh;
  overflow: auto;
  margin: 0;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* margin-block: 1em; */
}

::-webkit-scrollbar-thumb {
  /* background: brown; */
  background-image: url("../art/m_value_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

dd {
  box-sizing: content-box;
  align-self: center;
  justify-self: center;
  margin: 0;
  height: 18%;
  width: 100%;
  padding-top: 8%;

  filter: drop-shadow(0px 0px 1px);
}

.multiplier-field {
  align-items: center;

  height: 100%;
  width: 100%;

  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.positive {
  background-image: url("../art/m_info_pos_bg.png");
}
.negative {
  background-image: url("../art/m_info_neg_bg.png");
}

[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}

label {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  grid-template-areas: "m-value m-info";
  height: 100%;
  cursor: pointer;
}

.m-value {
  display: flex;
  justify-content: space-around;

  height: 100%;
  width: 100%;

  font-size: 1.5rem;
  background-image: url("../art/m_value_bg.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;

  filter: drop-shadow(0px 0px 2px);
}

.value {
  align-self: center;
}

.m-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 93%;
  gap: 2%;
  margin-left: 6%;
  margin-right: 2%;

  background-image: url("../art/m_desc_bg.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;

  filter: drop-shadow(0px 0px 2px);
}

.m-info > * {
  width: 86%;
  margin: 0;
  text-align: end;
}

.m-name {
  font-weight: 400;
  font-size: 1.5rem;
}

.m-description {
  font-weight: 200;
  font-size: 0.8rem;
  opacity: 0.3;
}

.card {
  flex-grow: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  height: 50%;
  box-sizing: border-box;

  background-image: url("../art/card_base_2.png");
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  filter: drop-shadow(0px 0px 5px);

  container-type: size;
}

.card-info {
  display: grid;
  grid-template-rows: 11em 5.5em 4.5em;
  grid-template-columns: auto;
  grid-template-areas:
    "card-points card-points"
    "card-name card-name"
    "plus minus";
  align-items: center;
  justify-items: center;

  width: 73cqw;
}

.card-info > * {
  filter: drop-shadow(1px 1px 5px);
}

.card-points {
  grid-area: card-points;

  width: 85%;
  height: 85%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 3.5rem;

  background-image: url("../art/card_points_bg.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card-name {
  grid-area: card-name;

  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;

  font-size: 1.7rem;
  font-weight: 400;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.long {
  width: 70%;
  background-image: url("../art/card_name_long.PNG");
}
.short {
  width: 40%;
  background-image: url("../art/card_name_short.PNG");
}

.button {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;

  background-image: url("../art/card_button_bg.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;
}

.card-button {
  width: 100%;
  height: 100%;
  text-align: center;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

button {
  width: 75%;
  height: 100%;
  padding: 0;
  font-size: 2rem;
  cursor: pointer;

  background-color: transparent;
  border: none;
}

#points_remaining {
  height: 10%;
  width: 10%;
  padding: 1.1%;
  margin-bottom: 1%;
  margin-top: 1.5%;

  box-sizing: content-box;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;

  background-image: url("../art/points_counter_bg.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;

  filter: drop-shadow(1px 1px 5px);
}

.reset-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-self: end;
  margin: 1.5%;

  height: 8%;
  width: 10%;
}

.reset-container > * {
  height: 100%;
  width: 80%;
}

input[type="submit"].reset-points-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 1.1rem;

  height: 100%;
  width: 100%;
  padding: 0;

  background-image: url("../art/points_counter_bg.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  filter: drop-shadow(0px 0px 5px);
  cursor: pointer;
}
