body {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.form-container {
  background-color: white;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  display: inline;
}

.label-card {
  text-align: left !important;
  display: block;
}
