{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session</title>
    <link rel="stylesheet" href="{% static 'css/alloc_style.css'%}" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>

  <body>
    <div id="points_remaining">
      <h1>Total points: {{points_remaining}}</h1>
    </div>
    <div class="card-container">
      {% for card in cards %} {% include 'card.html'%} {% endfor %}
    </div>
    <div class="reset-container">
      <form action="{% url 'reset_points' session.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Reset points" />
      </form>
    </div>
  </body>
</html>
