{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session</title>
    <link rel="stylesheet" href="{% static 'css/alloc_style.css'%}" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>

  <body>
    <div id="points_remaining">
      <h1>Total points: {{points_remaining}}</h1>
    </div>

    {% for card in cards %} {% include 'card.html'%} {% endfor %}
  </body>
</html>
