<div id="card-{{ card.id }}">
  <p class="card-points">{{ points|floatformat:1 }}</p>

  <h3 class="card-name">{{ card.name }}</h3>
  <div class="buttons">
    <form
      hx-post="{% url 'change_points' card.id 'add' %}"
      hx-target="#card-{{card.id}}"
      hx-swap="outerHTML"
      class="card-button"
    >
      {% csrf_token %}
      <button>+</button>
    </form>
    <form
      hx-post="{% url 'change_points' card.id 'remove' %}"
      hx-target="#card-{{card.id}}"
      hx-swap="outerHTML"
      class="card-button"
    >
      {% csrf_token %}
      <button>-</button>
    </form>
  </div>
</div>
